#header {
    border-bottom: 1px solid #CCC;
    padding: 10px;
    color: #CCC;
}

#footer {
    border-top: 1px solid #CCC;
    padding: 10px;
    color: #CCC;
}

#content {
    color: #000000;
    padding: 10px;
}